<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">ESports CMS</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/About" routerLinkActive="router-link-active">About</a>
        </li>
        @if (!auth.getToken()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login" routerLinkActive="active">Login</a>
        </li>
        }
        @if (auth.getToken()) {
        <li class="nav-item">
          <a class="nav-link" (click)="auth.logout()" routerLink="/" routerLinkActive="router-link-active">Logout</a>
        </li>
        }
        @if (auth.isAdmin()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/Cms" routerLinkActive="active">CMS</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>