@if (!isHidden) {

<form [formGroup]="form" (ngSubmit)="submit()">
  <input formControlName="title" placeholder="Title" />
  <input formControlName="description" placeholder="Description" />
  <input type="datetime-local" formControlName="startDate" />
  <input type="datetime-local" formControlName="endDate" />
  <input type="color" formControlName="colorPrimary" />
  <label>
    <input type="checkbox" formControlName="allDay" /> All Day
  </label>
  <label>
    <input type="checkbox" formControlName="isPublished" /> Published
  </label>
  <button type="submit">Save</button>
</form>

}