html, body {
  height: 100%;
  margin: 0;
}


/* Main content adjustment when sidebar is visible */
.main-content {
  margin-left: 220px; /* same as sidebar width */
  padding: 1rem;
  transition: margin-left 0.3s; /* smooth transition if sidebar toggles */
}

/* Optional: smaller margin when sidebar is hidden */
.main-content.full-width {
  margin-left: 0;
}
