.marquee {
  overflow: hidden;
  background-color: #222;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.marquee__group {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.sponsor {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
