@if (!ShowComponent) {

<div class="college-wrapper">

  @if (hasCollege) {
    <div class="center">
      <button class="leave-btn" (click)="removeFromCollege()">
        Leave College
      </button>
    </div>
  } @else {

    <h5 class="title">Apply to a College</h5>

    <div class="college-list">
      <div class="college-item" *ngFor="let college of colleges">

        <div class="college-info">
          <div class="college-name">{{ college.title }}</div>
          <div class="college-desc">{{ college.description }}</div>
        </div>

        <button
          class="apply-btn"
          (click)="apply(college.collegeId)"
          [disabled]="applying">
          Apply
        </button>

      </div>
    </div>

  }

</div>

}